#vscode
.vscode/setting.json
.vscode/launch.json
.vscde/*.code-workspace
.vscode/extensions.json

# log
*.log

# Tooling and build directories
build/
sample/
bin/

# Output files and directories
out/*
out.txt

# Binary and execution files (assuming these are executables)
main

# Temporary and system files
.DS_Store
*.prof

# Specific files
vis.html
vis.png
seed.txt
.version

# File extensions to ignore
*.svg
*.in
*.out
*.gif.version
